{% extends "App/padre.html" %}
{% load static %}
{% block Titulo %} Mensajes {% endblock %}
{% block Descripcion %} Que deseas hacer? {% endblock %}

{% block contenido_pag %}
{{ mensaje }}
<div class="row">
    <div class="col-lg-6"> 
        <div class="card mb-4">
            <!--<figure class="mb-4"><img class="img-fluid rounded" src="{{ usuario.avatar.url }}" style="object-fit:contain;
                width:150px;
                height:150px;
                border: solid 1px #CCC" alt="..." /></figure>-->
            <div class="card-body">
                <h2 class="card-title">Enviar un Mensaje</h2>
                <a class="btn btn-primary" href="{% url 'enviar_msg' %}">Ir →</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6"> 
        <div class="card mb-4">
            <!--<figure class="mb-4"><img class="img-fluid rounded" src="{{ usuario.avatar.url }}" style="object-fit:contain;
                width:150px;
                height:150px;
                border: solid 1px #CCC" alt="..." /></figure>-->
            <div class="card-body">
                <h2 class="card-title">Mensajes Recibidos</h2>
                <a class="btn btn-primary" href="{% url 'ver_mensajes_rec' %}">Ir →</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6"> 
        <div class="card mb-4">
            <!--<figure class="mb-4"><img class="img-fluid rounded" src="{{ usuario.avatar.url }}" style="object-fit:contain;
                width:150px;
                height:150px;
                border: solid 1px #CCC" alt="..." /></figure>-->
            <div class="card-body">
                <h2 class="card-title">Mensajes Enviados</h2>
                <a class="btn btn-primary" href="{% url 'ver_mensajes_env' %}">Ir →</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}