{% extends "App/padre.html" %}
{% load static %}
{% block Titulo %} Acerca de nosotros {% endblock %}
{% block Descripcion %} Creadores de Project Fulvo {{mensaje_login}} {% endblock %}



{% block contenido_pag %}
<h1>{{ mensaje }}</h1>
<div class="row">
    {% for admin in usuarios %}
    {% if admin.is_staff %}

    <div class="col-lg-6"> 
        <div class="card mb-4">
            <figure class="mb-4"><img class="img-fluid rounded" src="{{ admin.img.url }}" style="object-fit:contain;
                width:700px;
                height:350px;
                border: solid 1px #CCC" alt="..." /></figure>
            <div class="card-body">
                <div class="small text-muted">{{ blog.fecha_pub }}</div>
                <h2 class="card-title">{{ admin.username }}</h2>
                <br>
                <p class="card-text">{{ admin.first_name }} {{ admin.last_name }}</p>
                <p class="card-text">{{ admin.email }}</p>
                <a class="btn btn-primary" href="{% url 'ver_usuario' admin.id %}">Ver Usuario →</a>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
<div class="card mb-4">
    <div class="card-body">
        <h2 class="card-title">TITULO QUE QUIERAS</h2>
        <p class="card-text">CONTENIDO DEL ABOUT US {{ admin.img.url }}</p>
    </div>
</div>
        
{% endblock %}