{% extends "App/padre.html" %}
{% load static %}

{% block contenido_pag %}

<!-- Page content-->
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-12">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1">{{ post.titulo }}</h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">{{ post.fecha_pub }}</div>
                    <!-- Post categories-->
                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">{{ post.categoria }}</a>
                
                </header>
                <!-- Preview image figure-->
                <figure class="mb-4"><img class="img-fluid rounded" src="{{ post.img.url }}" style="object-fit:contain;
                    width:900px;
                    height:400px;
                    border: solid 1px #CCC" alt="..." /></figure>
                <!-- Post content-->
                <section class="mb-5">
                    <p class="fs-5 mb-4">{{ post.cuerpo | safe }}</p>
                    
                    <h2 class="fw-bolder mb-4 mt-5">{{ post.autor }}.</h2>
                </section>
            </article>
            {% if user.is_staff %}
            <a class="btn btn-danger" href="{% url 'eliminar_blog' post.id %}">Eliminar Publicacion</a>
            <a class="btn btn-warning"  href="{% url 'editar_blog' post.id %}">Editar Publicacion</a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}