{% extends "App/padre.html" %}
{% load static %}
{% block Titulo %} Pagina de Inicio {% endblock %}
{% block Descripcion %} Bienvenido a la pagina {{mensaje_login}} {% endblock %}



{% block contenido_pag %}
<h1>{{ mensaje }}</h1>
<div class="card mb-4">
    <a href="#!"><img class="card-img-top" src="{{ featured.img.url }}" alt="..." /></a>
    <div class="card-body">
        <div class="small text-muted">{{ featured.fecha_pub }}</div>
        <h2 class="card-title">{{ featured.titulo }}</h2>
        <p class="card-text">{{ featured.subtitulo }}</p>
        <a class="btn btn-primary" href="{% url 'ver_post' featured.id %}">Leer Mas →</a>
    </div>
</div>
<!-- Nested row for non-featured blog posts-->
<div class="row">
    {% for blog in blogs %}
    <div class="col-lg-6"> 
        <div class="card mb-4">
            <figure class="mb-4"><img class="img-fluid rounded" src="{{ blog.img.url }}" style="object-fit:contain;
                width:700px;
                height:350px;
                border: solid 1px #CCC" alt="..." /></figure>
            <div class="card-body">
                <div class="small text-muted">{{ blog.fecha_pub }}</div>
                <h2 class="card-title">{{ blog.titulo }}</h2>
                <p class="card-text">{{ blog.subtitulo }}</p>
                <a class="btn btn-primary" href="{% url 'ver_post' blog.id %}">Leer mas →</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
        
{% endblock %}