{% extends "App/padre.html" %}
{% load static %}
{% block Titulo %} Registrarse {% endblock %}
{% block Descripcion %} Registar tus datos para crear un Usuario  {% endblock %}

{% block contenido_pag %}
<style>
    .parrafo{
        z-index: 1;
        height: 200px;
        width: 540px;
        padding: 20px 20px;
        font-size: 15px;
        line-height: 1.5;
        background-color:white;
        box-shadow: 1px 5px 25px;
        color: black;
        border-radius: 5px;
        }
    </style>
    <center>
        <div class="parrafo">
            <form action="{% url 'register' %}" method="POST" enctype="multipart/form-data"> {% csrf_token %} 
                <table> {{ formulario.as_table }} </table>
                <input type="submit" value="Registrarse">
                <h2>{{ mensaje }}</h2>
            </form>
        </div>
    </center>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

{% endblock %}